body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1f1f1;
}

.top_top_part {
  display: flex;  
}

.top_part {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 15px;
  color: #2b2839;
  height: 340px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.my_photo{  
  height: 100%;
  width: auto;
  border: none;
}

.description {
  color: #2b2839;
  text-align: left;
  padding: 15px;
}

.titles {
  color: #6A5ACD;
  text-decoration: underline;
}

.social_media {
  background-color: #F5F5F5;
  border: 2px solid #6A5ACD;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 80px;
  height: 30px;
}

.social_media a{
  color: #2b2839;
  text-decoration: none;
}

.social_media:hover {
  background-color: #6A5ACD;
  color: white;
}

.social_media:hover a {
  color: white;
}

.social_media:active{
  opacity: 0.5;
}

.about_me {
  background-color: #ffffff;
  color: #2b2839;
  padding: 20px;
  height: 300px;
  margin: 15px;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
}

.skill_cont {
  background-color: #ffffff;
  color: #2b2839;
  padding: 20px;
  height: 140px;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.skill_table{
  margin-right: auto;
  margin-left: auto;
}

.skills {
  display:inline-block;
  margin: 3px;
  border: 2px solid #6A5ACD;
  padding: 3px;
  border-radius: 10px; 
}

.second_part {
  background-color: #ffffff;
  color: #2b2839;
  padding: 20px;
  min-height: 300px;
  height:100%;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
}

.dates {
  display:flex;
  
}
  
.ikon {
  height:20px;
  width: auto;
  margin-right: 5px;
}

.third_part {
  background-color: #ffffff;
  color: #2b2839;
  padding: 20px;
  min-height: 300px;
  height: auto;
  width: 33%;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.int_part {
  display: flex;
}

.final_background {
  height: 150px;
  box-sizing: border-box; 
  width: calc(100% - 30px);
  margin: 0 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
}

.progress_border {
  height: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: 2px solid black;
  text-align: center;
}

.progress_100 {
  height: 24px;
  width: 100%;
  background-color: #6A5ACD;
  border-radius: 16px;
  color: white;
}

.list_interest {
  padding: 5px;
  font-weight: bold;
}
